@model List<Webapps1.Models.Rute>

@{
    ViewBag.Title = "Liste av alle Ruter";
}


    <!-- TRENGER KANSKJE Å IMPORTE FLER JQUERY FILER -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>




    <script type="text/javascript">
        function hentAlleRuter() {
            $.ajax({
                url: '/Home/HentAlleRuter',
                type: 'POST',
                dataType: 'json',
                cache: false,
                success: function (alleRuter) {
                    visAlleRuter(alleRuter);
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
            });

        }
        function hentValgteRuter() {
            $.ajax({
                url: '/Home/HentValgteRuter',
                type: 'POST',
                dataType: 'json',
                data: {
                    fra: $("#fra").val(),
                    til: $("#til").val()
                },
                cache: false,
                success: function (valgteRuter) {
                    visValgteRuter(valgteRuter);
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
            });

        }
        function visValgteRuter(valgteRuter) {
            var utString = "";
            for (var i in valgteRuter) {
                utString +=
                    "<tr>" +
                    "<td>" + valgteRuter[i].Fra + "</td>" +
                    "<td>" + valgteRuter[i].Til + "</td>" +
                    "<td>" + valgteRuter[i].Avgang + "</td>" +
                    "<td>" + valgteRuter[i].Ankomst + "</td>" +
                    "<td>" + valgteRuter[i].Pris + "</td>" +
                    "</tr>";
            }
            $("#serverData").append(utString);
        }

        function visAlleRuter(alleKunder) {
            var utString = "";
            for (var i in alleKunder) {
                utString +=
                    "<tr>" +
                    "<td>" + alleKunder[i].Fra + "</td>" +
                    "<td>" + alleKunder[i].Til + "</td>" +
                    "<td>" + alleKunder[i].Avgang + "</td>" +
                    "<td>" + alleKunder[i].Ankomst + "</td>" +
                    "<td>" + alleKunder[i].Pris + "</td>" +
                    "</tr>";
            }
            $("#serverData").append(utString);
        }


        function forslagFra() {

            var funnetOrd = [];

            @foreach (var item in Model)
            {

                @:funnetOrd.push(@item.Fra);
 

            }
            $("#fra").autocomplete({source: funnetOrd});
        });

        function forslagTIl() {

            var funnetOrd = [];

            @foreach (var item in Model)
            {
                @:funnetOrd.push(@item.Til);

            }
            $("#til").au({ source: funnetOrd });
        });





</script>
    <h2>ListeRuter</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Fra</label>
        <div class="col-10">
            <input class="form-control" type="text" id="fra" oninput="forslagFra()">
        </div>
    </div>
    <div class="form-group row">
        <label for="example-search-input" class="col-2 col-form-label">Til</label>
        <div class="col-10">
            <input class="form-control" type="text" id="til" oninput="forslagTIl()">      
        </div>
    </div>
            <table class="table" id="serverData">
                <tr>
                    <th>
                        Fra
                    </th>
                    <th>
                        Til
                    </th>
                    <th>
                        Avgang
                    </th>
                    <th>
                        Ankomst
                    </th>
                    <th>
                        Pris
                    </th>
                    <th></th>
                </tr>
            </table>

            <table>
                @*@foreach (var item in Model) {
                        <tr>
                            <td>
                                @item.Fra
                            </td>
                            <td>
                                @item.Til
                            </td>
                            <td>
                                @item.Avgang
                            </td>
                            <td>
                                @item.Ankomst
                            </td>
                            <td>
                                @item.Pris
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id=item.RuteId }) |
                                @Html.ActionLink("Details", "Details", new { id=item.RuteId }) |
                                @Html.ActionLink("Delete", "Delete", new { id=item.RuteId })
                            </td>
                        </tr>
                    }*@
            </table>
            <button type="button" onclick="hentAlleRuter()"> Alle reiser </button><br />
            <button type="button" onclick="hentValgteRuter()"> Søk valgte reiser</button>

            <br />
            <div>
                @Html.ActionLink("Liste alle flyplasser", "Index")
            </div>

            <div>
                @Html.ActionLink("Bestill billett", "NyBillett")
            </div>
