@model Webapps1.Models.Billett

@{
    ViewBag.Title = "NyBillett";
}

<h2>NyBillett</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <form action="/Home/VisKvittering" method="post">
        <div class="form-horizontal">
            <h4>Billett</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Fornavn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fornavn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fornavn, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Etternavn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                @Html.EditorFor(model => model.Etternavn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Etternavn, "", new { @class = "text-danger" })     
                </div>  
                <button class="btn btn-success" type="submit"> Bestill </button>
                @Html.ActionLink("Avbryt Bestilling", "AvbrytBestilling", null, new { @class = "btn btn-danger" })
            </div>
    </div>
</form>
}

