@model List<Webapps1.Models.Reservasjon>

@{
    ViewBag.Title = "Reservasjon";
}

<h2>Reservasjon</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Billetter
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Billetter
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservasjonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservasjonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservasjonId })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Tilbake til hovedmeny", "Index")
</div>
